
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="output.css" rel="stylesheet" />
    <script src="/public/htmx.min.js"></script>
    <script src="/public/alpinejs.3.11.1.min.js"></script>
    <title>Login Success</title>
  </head>
  <body>
      <h1>Welcome {{.name}} from {{.country}}. Login Success!!!!</h1>
      <form method="post" action="/logout">
        <input type="submit" value="logout">
    </form>
  </body>
</html>